

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="top">
    <h1>Cadastrar produto</h1>
  </div>    

  <div id="formulario">


<!-- Aqui fica o formulario de cadastro de um novo item no storage -->
    <div id="info-principa">
      <form #form="ngForm" [formGroup]="AddForm" (ngSubmit)="presentAlert()" >

        <ion-item>
          <ion-label position="floating"> Nome:</ion-label>
          <ion-input [(ngModel)]="detalhesProduto.nome" formControlName="nome" [clearInput]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Descrição do Produto:</ion-label>
          <ion-input [(ngModel)]="detalhesProduto.desc" formControlName="desc" [clearInput]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Fornecedor:</ion-label>
          <ion-input [(ngModel)]="detalhesProduto.fornecedor" formControlName="fornecedor" [clearInput]="true"></ion-input>
        </ion-item>

        <ion-item id="part2">
          <ion-label position="floating"> Valor:</ion-label>
          <ion-input [(ngModel)]="detalhesProduto.valor" formControlName="valor"  [clearInput]="true" type="number" ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating"> Data de Entrega:</ion-label>
          <ion-input  [(ngModel)]="detalhesProduto.entrega"   formControlName="entrega" simpleMask="99/99/9999" [clearInput]="true"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating"> Data de Saida:</ion-label>
          <ion-input  [(ngModel)]="detalhesProduto.saida"   formControlName="saida" simpleMask="99/99/9999" [clearInput]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Data de Validade:</ion-label>
          <ion-input  [(ngModel)]="detalhesProduto.validade"  formControlName="validade" simpleMask="99/99/9999" [clearInput]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Quantidade no estoque:</ion-label>
          <ion-input [(ngModel)]="detalhesProduto.quantidade" formControlName="quantidade" [clearInput]="true" placeholder="0" type="number"></ion-input>
        </ion-item>

        <ion-button class="but" type="submit">CADASTRAR</ion-button>

      </form>

    </div>

  </div>

</ion-content>
