
<ion-content >

  <div id="top">
    <h1>Bem vindo</h1>
  </div>    
  
  <p>A o seu aplicativo de Estoque</p>

  <div id="nav">

    <!-- Os botões que levam as 3 paginas principais -->
    <ion-button class="but" routerLink="/cadastro">Adicionar Produto</ion-button>
    <ion-button class="but" routerLink="/historico">Listar Produto</ion-button>

  </div>

  <!-- Nnenhum css foi comentado pois creio que n haja necessidade já que esse projeto é totalmente focado no back da aplicação -->

</ion-content>

