ion-content{

  #top{
    margin: 30% 25% 25% 25%;
  
    h1{
        font-size: xx-large;
    }

  }

  p{
    width: 80%;
    text-align: center;
    margin-left: 9%;
  }

  .but{
    width: 80%;
    height: 45px;
    margin: 13px 0 0 10% ;
  }

  .but:first-child{
    margin-top: 40%;
  }

  .link{
    color: rgb(101, 101, 240);
    font-size: small;
  }

  hr{
    background-color: rgb(66, 65, 65); 
    height: 3px;  
    margin: 20px 28px 5px 28px;                  
  }

}