<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> App Oficina </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Oficina</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="button">
    <ion-button  color="dark" shape="round"  routerLink="/listagem-produtos/"> Serviços </ion-button>
    <!-- <ion-button color="dark" shape="round"   routerLink="/detalhes-produtos/"> Produtos </ion-button> -->
  </div>

</ion-content>
